<%- include('../header') %>
<a class="btn btn-light" href="/publicacoes/categoria/<%= categoriaId %>">Voltar</a><br /><br />

<h1 class="text-center">
  <%= publicacao.titulo %>
</h1>

<p>
  <%= publicacao.conteudo %>
</p>
<%- include('../footer') %>